<p class="text-muted mt-5 mb-4 lh-1"><small><b>Disclaimer:</b> nenhum de nossos conteúdos é uma recomendação de investimento. O <b>FinList</b> tem a missão de facilitar o acesso a conteúdos de qualidade para que você possa investir melhor. Nosso conteúdo portanto, deve servir para melhor embasar estudos e análises sobre o tema de investimentos e finanças. <a href="/sobre/" title="Sobre o FinList">Conheça mais sobre o FinList</a>.</small></p>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="text-muted">© 2022 {{ site.title | escape }}</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a href="/sobre/" title="Sobre o FinList">Sobre o FinList</a></li>
    <li class="ms-3"><a href="https://www.instagram.com/finlistbr/" target="_blank" title="Acessar Instagram"><i class="fab fa-instagram fa-lg" ></i></a></li>
  </ul>
</footer>